<!doctype html>
<html lang="fr" ng-app="appRoot">
    <head>
        <title>📚｜ComptaBot</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="French">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="Compta Coffre GTA 5 RP">
        <meta name="keywords" content="compta,rp,gta,five,fivem,gta online,gta server">
        <meta name="author" content="🐻｜LeGrizzly#0341">

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        #  Compta - Bot Discord

        #  Developed by    : 🐻｜LeGrizzly#0341
        #  Design by       : 🐻｜LeGrizzly#0341

        #  Support         : https://discord.gg/zfq4SH4Wut
         _                _____          _               _         
        | |              / ____|        (_)             | |        
        | |        ___  | |  __   _ __   _   ____  ____ | |  _   _ 
        | |       / _ \ | | |_ | | \__| | | |_  / |_  / | | | | | |
        | |____  |  __/ | |__| | | |    | |  / /   / /  | | | |_| |
        |______|  \___|  \_____| |_|    |_| /___| /___| |_|  \__, |
                                                              __/ |
                                                             |___/
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~_Update: 02/04/2022_~~-->

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">

        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

        <!-- AngularJS Core -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

        <!-- jQuery JS Core-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- jQuery JS UI Core -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.5/dist/sweetalert2.all.min.js"></script>

        <!-- Bootstrap Table CSS -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">

        <!-- Bootstrap Table JS -->
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

        <!-- Bootstrap Icons CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">

        <!-- AngularJS Script-->
        <script src="/assets/js/app-angular.js"></script>

        <style>
            .flex-column.p-5 > div {
                display: none;
            }
            .flex-column.p-5 > div.active {
                display: block !important;
            }
            .span.ng-binding {
                margin: 10px 30px;
            }
            .d-inline-flex {
                display: inline-flex !important;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-content: center;
                align-items: center;
            }
            .swal2-html-container {
                overflow: hidden !important;
            }
            button.swal2-cancel.btn.btn-secondary,
            button.swal2-confirm.btn.btn-success,
            button.btn.btn-primary.btn-xs.btn-edit,
            button.swal2-confirm.btn.btn-warning {
                margin-right: 15px;
            }
        </style>

    </head>
    <body>
        <main ng-controller="appCommon">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-6 p-2">📚｜ComptaBot#7814 <span class="badge rounded-pill bg-primary small">BOT</span></span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto" ng-click="onClick($event);">
                    <li class="nav-item">
                        <a href="#1" data-href="1" class="nav-link text-white" ng-class="{'active': sidenav == 1}" aria-current="page">
                        📈｜Blanchiment semaine
                        </a>
                    </li>
                    <li>
                        <a href="#2" data-href="2" class="nav-link text-white" ng-class="{'active': sidenav == 2}">
                        🧼｜Blanchiment en cours
                        </a>
                    </li>
                    <li>
                        <a href="#3" data-href="3" class="nav-link text-white" ng-class="{'active': sidenav == 3}">
                        📝｜Livre des comptes
                        </a>
                    </li>
                    <li>
                        <a href="#4" data-href="4" class="nav-link text-white" ng-class="{'active': sidenav == 4}">
                        🔫｜Armes en stock
                        </a>
                    </li>
                    <li>
                        <a href="#5" data-href="5" class="nav-link text-white" ng-class="{'active': sidenav == 5}">
                        🌱｜Items drogues
                        </a>
                    </li>
                    <li>
                        <a href="#6" data-href="6" class="nav-link text-white" ng-class="{'active': sidenav == 6}">
                        📦｜Items
                        </a>
                    </li>
                    <li>
                        <a href="#7" data-href="7" class="nav-link text-white" ng-class="{'active': sidenav == 7}">
                        🏃‍♂️｜Argent qui devrait arriver
                        </a>
                    </li>
                    <hr ng-show="permission">
                    <li ng-show="permission">
                        <a href="#8" data-href="8" class="nav-link text-white" ng-class="{'active': sidenav == 8}">
                        ⚙｜Gestion Utilisateurs
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div><div ng-cloak>{{::session.username}}</div>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-light btn-sm" href="/logout">
                        <i class="bi bi-box-arrow-left me-1"></i>
                        LogOut
                        </a>
                    </div>
                </div>
            </div>
            <div class="b-example-divider"></div>

            <div class="flex-column p-5 container-fluid" ng-cloak>
                <h2>{{sectionTitle}}</h2>
                <hr>
                <div class="mb-2 g-4 align-items-center" ng-class="{'active': sidenav == 1 || sidenav == 2 || sidenav == 3 || sidenav == 7}">
                    <div id="{{key}}" class="row p-1 shadow-sm mb-2 bg-body rounded" ng-repeat="(key, value) in sectionData">
                        <div class="col-1 align-self-center">
                            <span ng-show="edit != true">{{value.Icone}}</span>
                            <input ng-show="edit" type="text" ng-model="value.Icone" class="form-control p-1" placeholder="Name Icone">
                        </div>

                        <div class="col-3 align-self-center">
                            <span ng-show="edit != true">{{value.Name}}</span>
                            <input ng-show="edit" type="text" max="20" ng-model="value.Name" class="form-control p-1" placeholder="Name Groupe"></td>
                        </div>

                        <div class="col-2 align-self-center">
                            <span ng-show="edit != true">{{convertNumber(value.Cash)}}</span>
                            <input ng-show="edit" type="text" ng-model="value.Cash" class="form-control p-1" placeholder="Cash">
                        </div>

                        <div class="col-3 align-self-end">
                            <button ng-show="edit != true" type="button" class="btn btn-outline-primary" ng-click="edit = true; editLine({key})">✏｜Editer</button>
                            <button ng-show="edit" type="button" class="btn btn-outline-success" ng-click="edit = false; saveLine({key}, value)">💾｜Enregistrer</button>
                        </div>

                        <div class="col-3 align-self-end">
                          <button ng-show="editableLine" type="button" class="btn btn-outline-danger" ng-click="edit = false;">🗑｜Annuler</button>
                          <button ng-show="editableLine != true" type="button" class="btn btn-outline-danger" ng-click="deleteLine({key})">🗑｜Supprimer</button>
                        </div>
                    </div>

                    <div class="btn-toolbar justify-content-between mt-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button ng-show="editableLine != true" type="button" class="btn btn-outline-primary" ng-click="addLine({key})">➕｜Ajouter</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="First group">
                            <button ng-show="btnSave" type="button" class="btn btn-outline-success" ng-click="saveJson({key})">💾｜Enregistrer</button>
                        </div>
                    </div>
                </div>

                <div class="col mb-2" ng-class="{'active': sidenav == 4 || sidenav == 5 || sidenav == 6}">
                    <div id="{{key}}" class="row p-1 shadow-sm mb-2 bg-body rounded" ng-repeat="(key, value) in sectionData">

                        <div class="col-2 align-self-center">
                            <button data-ng-disabled="$last" type="button" class="btn btn-sm" ng-click="downLine({key})">🔽</button>
                            <button data-ng-disabled="$first" type="button" class="btn btn-sm" ng-click="upLine({key})">🔼</button>
                        </div>

                        <div class="col-1 align-self-center">
                            <span ng-show="edit != true">{{value.countItems}}</span>
                            <input ng-show="edit" type="text" ng-model="value.countItems" class="form-control p-1" placeholder="Name Groupe"></td>
                        </div>

                        <div class="col-3 align-self-center text-end">
                            <span ng-show="edit != true">{{value.nameItems}}</span>
                            <input ng-show="edit" type="text" ng-model="value.nameItems" class="form-control p-1" placeholder="Cash">
                        </div>

                        <div class="col-3 align-self-center text-end">
                            <button ng-show="edit != true" type="button" class="btn btn-outline-primary" ng-click="edit = true; editLine({key})">✏｜Editer</button>
                            <button ng-show="edit" type="button" class="btn btn-outline-success" ng-click="edit = false; saveLine({key}, value)">💾｜Enregistrer</button>
                        </div>

                        <div class="col-3 align-self-center">
                          <button type="button" class="btn btn-outline-danger" ng-click="deleteLine({key})">🗑｜Supprimer</button>
                        </div>
                    </div>

                    <div class="btn-toolbar justify-content-between mt-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                          <button ng-show="editableLine != true" type="button" class="btn btn-outline-primary" ng-click="addLine({key})">➕｜Ajouter</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="First group">
                            <button ng-show="btnSave" type="button" class="btn btn-outline-success" ng-click="saveJson({key})">💾｜Enregistrer</button>
                        </div>
                    </div>
                </div>

                <div class="col mb-2" ng-class="{'active': sidenav == 8}" ng-show="permission">
                    <div id="toolbar">
                        <button id="btn-add" class="btn btn-secondary">➕｜Ajouter un utilisateur</button>
                    </div>
                    <table class="table caption-top table-responsive table-striped table-hover"
                        id="table"
                        data-toolbar="#toolbar"
                        data-search="true"
                        data-show-refresh="true"
                        data-show-columns="true"
                        data-show-columns-toggle-all="true"
                        data-show-export="true"
                        data-detail-formatter="detailFormatter"
                        data-minimum-count-columns="2"
                        data-show-pagination-switch="true"
                        data-pagination="true"
                        data-id-field="id"

                        data-group-by="true"
                        data-group-by-field="name_group"

                        data-page-list="[10, 25, 50, 100, all]"
                        data-side-pagination="server"
                        data-url="/userManagement"
                        data-method="post"
                        data-query-params="postQueryParams"
                        data-content-type="application/x-www-form-urlencoded">
                        <thead>
                            <tr>
                                <th data-field="id" data-width="100" data-sortable="true" data-halign="center">Id</th>
                                <th data-field="name" data-width="100" data-sortable="true" data-halign="center">User</th>
                                <th data-field="pwd" data-width="100" data-sortable="true" data-halign="center">Code</th>
                                <th data-field="permission" data-width="100" data-sortable="true" data-halign="center" data-formatter="toCheckbox">Permission</th>
    
                                <th data-field="action" data-width="150" data-halign="center" data-align="center" data-formatter="actionFormatter" data-events="actionEvents">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </main>

        <script>
            function initTable() {
                var $table = $('#table');

                $table.bootstrapTable('destroy').bootstrapTable({
                    height: 550,
                    locale: "fr-FR"
                })
            }

            function postQueryParams(params) {
                params.action = "getlist";
                return params;
            }

            function actionFormatter(value, row, index) {
                return [
                    '<button class="btn btn-primary btn-xs btn-edit" title="Modifier"><span class="fas fa-edit"></span></button>',
                    '<button class="btn btn-danger btn-xs btn-remove" title="Supprimer"><span class="fas fa-trash"></span></button>'
                ].join('');
            }

            function toCheckbox(value, row, index) {
                if (value == "1")
                    return "✔️";
                else if (value == "2") 
                    return "⚠";
                return "❌";
            }

            window.actionEvents = {
                    'click .btn-remove': function (e, value, row, index) {
                    // console.log("Remove : "+row["login"]);
                    console.log(row);
                    ShowDeleteUser(row);
                    },'click .btn-edit': function (e, value, row, index) {
                    console.log("Edit : "+row["id"]);
                    ShowEditUser(row);
                }
            };

            function ShowDeleteUser(row) {
                Swal.fire({
                    title: "Supprimer un utilisateur",
                    html:	'Etes-vous sûr de vouloir supprimer l\'utilisateur "'+row["name"]+'" ?',
                    width: '600px',
                    allowEscapeKey:true,
                    allowOutsideClick: false,
                    showCancelButton: true,
                    buttonsStyling:false,
                    confirmButtonText: "Oui, je veux le supprimer",
                    cancelButtonText: "Non",
                    confirmButtonClass: "btn btn-warning",
                    cancelButtonClass: "btn btn-secondary",
                    showLoaderOnConfirm: false,
                    focusCancel:true,
                    preConfirm: function() {
                        return new Promise(function(resolve) {
                            var send=$.ajax({
                                method: 'POST',
                                url:'/userManagement',
                                data: {
                                    autofunc:true,
                                    action:'deleteuser',
                                    id: row["id"],
                                }
                            }).done(function(html){
                                if(html != 'OK') {
                                    Swal.showValidationMessage(html);
                                    Swal.disableLoading();
                                } else {
                                    Swal.close();
                                    $('#table').bootstrapTable('refresh');
                                }
                            }).fail(function(){
                                Swal.fire('Erreur','Une erreur s\'est produite lors de la suppression du collaborateur !','error');
                            });
                        });
                    }
                });
            }

            $("#btn-add").click(function () {
                ShowAddUser();
            });

            $('#table').on('dbl-click-row.bs.table', function (e, row, element, field) {
                ShowEditUser(row);
            });

            function ShowAddUser() {
                list_groupe = '';

                Swal.fire({
                    title: "Ajouter un utilisateur",
                    html:	'<form class="needs-validation" novalidate>'+
                            '    <div class="row">'+
                            '       <div class="col-md-6 mb-3">'+
                            '           <label for="edit_user">User :</label>'+
                            '           <input type="text" class="form-control" id="edit_user" placeholder="" value="" required>'+
                            '       </div>'+
                            '       <div class="col-md-6 mb-3">'+
                            '           <label for="edit_code">Code :</label>'+
                            '             <div class="input-group">'+
                            '              <input type="text" class="form-control" id="edit_code" placeholder="" value="'+pwdAleatoir()+'" required>'+
                            '              <button class="btn btn-outline-secondary" type="button" onclick="updateCode()" id="button-addon2">Generate</button>'+
                            '           </div>'+
                            '       </div>'+
                            '    <div class="row">'+
                            '       <div class="col-md-6 mb-3">'+
                            '           <div class="form-check form-switch">'+
                            '               <input class="form-check-input" type="checkbox" id="edit_check_admin">'+
                            '               <label class="form-check-label" for="edit_check_admin">Admin</label>'+
                            '           </div>'+
                            '       </div>'+
                            '    </div>'+
                            '    <hr class="mb-4">'+
                            '</form>',
                        width: '600px',
                    allowEscapeKey:true,
                    allowOutsideClick: false,
                    showCancelButton: true,
                    buttonsStyling:false,
                    confirmButtonText: "Ajouter l'utilisateur",
                    cancelButtonText: "Annuler",
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: "btn btn-default",
                    showLoaderOnConfirm: false,
                    preConfirm: function() {
                        return new Promise(function(resolve) {
                            var send=$.ajax({
                                method: 'POST',
                                url:'/userManagement',
                                data: {
                                    autofunc: true,
                                    action: 'addUser',
                                    name: $("#edit_user").val(),
                                    pwd: $("#edit_code").val(),
                                    permission: $("#edit_check_admin").is(":checked")
                                }
                            }).done(function(html){
                                if(html != 'OK') {
                                    Swal.showValidationMessage(html);
                                    swal.disableLoading();
                                } else {
                                    swal.close();
                                    $('#table').bootstrapTable('refresh');
                                }
                            }).fail(function(){
                                Swal.fire('Erreur','Une erreur s\'est produite lors de l\'enregistrement du collaborateur !','error');
                            });
                        });
                    }
                });
                $('#edit_name_group').focus();
            }

            function ShowEditUser(row) {
                list_groupe = '';

                Swal.fire({
                    title: "Modifier un utilisateur",
                    html:	'<form class="needs-validation" novalidate>'+
                            '    <hr class="mb-4">'+
                            '    <div class="row">'+
                            '       <div class="col-md-6 mb-3">'+
                            '           <label for="edit_user">User :</label>'+
                            '           <input type="text" class="form-control" id="edit_user" placeholder="" value="'+row["name"]+'" required>'+
                            '       </div>'+
                            '       <div class="col-md-6 mb-3">'+
                            '           <label for="edit_code">Code :</label>'+
                            '             <div class="input-group">'+
                            '              <input type="text" class="form-control" id="edit_code" placeholder="" value="'+row["pwd"]+'" required>'+
                            '              <button class="btn btn-outline-secondary" type="button" onclick="updateCode()" id="button-addon2">Generate</button>'+
                            '           </div>'+
                            '       </div>'+
                            '    </div>'+
                            '    <div class="row">'+
                            '       <div class="col-md-6 mb-3">'+
                            '           <div class="form-check form-switch">'+
                            '               <input class="form-check-input" type="checkbox" '+((row["permission"] == 1)? "checked":"")+' id="edit_check_admin">'+
                            '               <label class="form-check-label" for="edit_check_admin">Permission</label>'+
                            '           </div>'+
                            '       </div>'+
                            '    </div>'+
                            '    <hr class="mb-4">'+
                            '</form>',
                        width: '600px',
                        allowEscapeKey:true,
                        allowOutsideClick: false,
                        showCancelButton: true,
                        buttonsStyling: false,
                        confirmButtonText: "Enregistrer",
                        cancelButtonText: "Annuler",
                        confirmButtonClass: "btn btn-success",
                        cancelButtonClass: "btn btn-danger",
                        showLoaderOnConfirm: false,
                        preConfirm: function() {
                            return new Promise(function(resolve) {
                                var send=$.ajax({
                                    method: 'POST',
                                    url:'/userManagement',
                                    data: {
                                        autofunc: true,
                                        action: 'edituser',
                                        id: row["id"],
                                        name: $("#edit_user").val(),
                                        pwd: $("#edit_code").val(),
                                        permission: $("#edit_check_admin").is(":checked"),
                                    }
                                }).done(function(html){
                                    if(html != 'OK') {
                                        Swal.showValidationMessage(html);
                                        swal.disableLoading();
                                    } else {
                                        swal.close();
                                        $('#table').bootstrapTable('refresh');
                                    }
                                }).fail(function(){
                                    Swal.fire('Erreur','Une erreur s\'est produite lors de l\'enregistrement du collaborateur !','error');
                                });
                            });
                        }
                });
                $('#edit_name_group').focus();
            }

            function pwdAleatoir() {
                String.prototype.shuffle = function() {
                    var parts = this.split('');
                    for (var i = 0, len = parts.length; i < len; i++) {
                        var j = Math.floor( Math.random() * ( i + 1 ) );
                        var temp = parts[i];
                        parts[i] = parts[j];
                        parts[j] = temp;
                    }
                    return parts.join('');
                };

                return '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'.shuffle().substr(1, 5);
            }

            function updateCode() {
                $("#edit_code").val(pwdAleatoir());
            }

            $(() => {
                initTable();
            })
        </script>

    </body>
</html>